/*! Color variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open Sans;
  background: #f8f7f5;
  font-size: 0.9rem;
}

header {
  background: #645648;
  background: -webkit-gradient(linear, left top, left bottom, from(#645648), color-stop(58%, rgba(100, 86, 72, 0.5)), to(#f8f7f5));
  background: linear-gradient(180deg, #645648 0%, rgba(100, 86, 72, 0.5) 58%, #f8f7f5 100%);
}

main {
  margin-top: 5vh;
}

footer {
  background: #7b3236;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #a7937c;
  text-align: center;
}

h2 {
  color: #7b3236;
  font-family: Open Sans;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2vw;
}

h3 {
  color: rgba(123, 50, 54, 0.7);
  text-align: center;
}

blockquote {
  padding: 0 5vw;
  font-size: 1rem;
  font-weight: bold;
}

blockquote > a {
  color: #645648;
  text-decoration: none;
}

blockquote > a:visited {
  color: #645648;
  text-decoration: none;
}

blockquote > a:hover {
  color: #7b3236;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: inherit;
}

li {
  list-style: none;
}

i {
  background: inherit;
  color: #f8f7f5;
  font-size: larger;
}

.head-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 2vw 0 20vw;
}

.head-first > div {
  background: inherit;
}

.head-first > img {
  margin-top: 1vw;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1vw;
}

.lang > button {
  border: none;
  border-radius: 50%;
  padding: 1vw;
  margin-left: 1vw;
  background: #a7937c;
  color: #7b3236;
  border: 1px solid rgba(123, 50, 54, 0.7);
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vw;
}

nav > ul > li > a {
  padding: 1vw;
}

nav > ul > li > a > img {
  border: 1px solid #7b3236;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(100, 86, 72, 0.3);
  border-bottom-right-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* hamburge line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: #f8f7f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* move a line down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* toggler, here a checkbox, animation first move main line to make first part of X */
.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* regroup before and after lines to make second bar of an X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* rotation on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

/* set up scale when show menu */
.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

/* place the menu on middle of the screen */
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: #a7937c;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  background: #a7937c;
  list-style: none;
  font-size: 1.2rem;
  font-family: Open Sans;
  text-align: left;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  background: inherit;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 50%;
  padding: 2vw;
  margin: 3vw;
  margin-bottom: 4vh;
  background: #7b3236;
}

article p {
  margin: 1vh 0;
  padding: 0 10vw;
  text-align: justify;
}

article > p > img {
  border-radius: 50%;
  border: 1px solid #7b3236;
  height: 28vw;
  width: 28vw;
  float: right;
  margin: 5px;
}

.h2-news {
  background: #f8f7f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f7f5), to(rgba(167, 147, 124, 0.4)));
  background: linear-gradient(180deg, #f8f7f5 0%, rgba(167, 147, 124, 0.4) 100%);
  padding-top: 5vh;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(167, 147, 124, 0.4);
}

.content {
  padding: 0 10vw;
  text-align: justify;
  font-size: 0.9rem;
}

.content > img {
  border-radius: 50%;
  border: 1px solid #7b3236;
  height: 28vw;
  width: 28vw;
  float: left;
  margin: 5px;
}

.upvote {
  color: #f8f7f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  padding: 2vh;
}

.upvote > button > a {
  background: transparent;
  color: #7b3236;
  padding: 0 1vw;
}

.video {
  padding: 2vh 1vw;
  background: rgba(123, 50, 54, 0.7);
  border-style: none;
}

iframe {
  border: none;
}

.associations > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
}

.associations > ul > li {
  text-decoration: none;
}

.associations > ul > li > a > img {
  width: 100vw;
  height: 40vw;
}

.copyrights {
  color: #f8f7f5;
  padding-right: 45vw;
  margin: 1vh 0;
  font-family: Open Sans;
  font-size: 0.6rem;
}

.copyrights p:first-child {
  font-size: 0.8rem;
}

.credentials {
  font-weight: 100;
  font-size: 0.4rem;
  padding-left: 5vw;
  margin: 1vh 0;
}

.credentials > p > a > img {
  width: 5vw;
  height: 5vw;
}

@media screen and (min-width: 480px) {
  .head-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 2vw 0 40vw;
  }
  .lang {
    padding-left: 35vw;
  }
  nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vw;
    max-width: 10vw;
    max-height: 10vw;
  }
  h2 {
    color: #7b3236;
    font-family: Open Sans;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 2vw;
    padding-bottom: 2vh;
  }
  .institute > article > p > img {
    width: 10vw;
    height: 10vw;
  }
  .content > img {
    width: 20vw;
    height: 20vw;
    float: right;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .associations > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100vw;
    margin-bottom: 2vh;
  }
  .associations > ul > li > a > img {
    width: 15vw;
    height: 10vh;
    border-radius: 10%;
  }
}
/*# sourceMappingURL=style.css.map */